@import 'variables.scss';
@import 'imgur-style.scss';
@import 'imgur-mobile-style.scss';
@import 'panel-cms.scss';
@import 'editor-cms.scss';
@import 'https://fonts.googleapis.com/css?family=Bree+Serif';

body{
    padding: 0;
    margin: 0;
    font-family: 'Bree Serif', serif;
}