// Background Colors
$archBgColor: #122242;
$archHeadBgColor: #122242;
$archAuthorBgColor: rgba(20,68,83,0.5);
$archInfoBgColor: rgba(20,68,83,1);
$archContentTitleColor: rgba(0,0,0,0.5);
// Font Colors
$archHeadFntColor: #FF6D37;
$archContentFntColor: #eee;
$archContentTitleFntColor: #fff;