/* Imgur Upload Style */
@import 'https://fonts.googleapis.com/css?family=Bree+Serif';
body.loading .loading-modal {
  display: block; }

.title {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

.dropzone {
  border: 4px dashed #ccc;
  height: 200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 50%; }

.info {
  margin-top: 11%; }

.dropzone p {
  /*height: 100%;*/
  /*line-height: 200px;*/
  margin: 0%;
  text-align: center;
  width: 100%; }

.input {
  height: 100%;
  left: 0;
  outline: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%; }

.status {
  border-radius: 5px;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

.image-url {
  width: 50%; }

.dropzone.dropzone-dragging {
  border-color: #000; }

.loading-modal {
  background-color: rgba(255, 255, 255, 0.8);
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.loading-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 15%; }

.img {
  width: 100%; }

/* Mobile view */
@media screen and (min-width: 300px) and (max-width: 700px) {
  .dropzone {
    max-width: 80%; }
  .info {
    margin-top: 30%; }
  .status {
    width: 80%; }
  .image-url {
    width: 80%; }
  .loading-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    margin-bottom: 50%; } }

.panel-cms-container {
  display: flex;
  flex-direction: row; }
  .panel-cms-container .panel-cms-header {
    width: 25%;
    height: 100vh;
    background-color: #122242;
    text-align: center; }
    .panel-cms-container .panel-cms-header .panel-cms-header_user {
      height: 100px;
      color: #eee;
      background-color: rgba(20, 68, 83, 0.5);
      display: flex;
      align-items: center;
      justify-content: center; }
    .panel-cms-container .panel-cms-header nav ul {
      margin: 0;
      padding: 0; }
      .panel-cms-container .panel-cms-header nav ul li {
        list-style: none;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        cursor: pointer; }
        .panel-cms-container .panel-cms-header nav ul li:hover {
          background-color: rgba(20, 68, 83, 0.5); }
    .panel-cms-container .panel-cms-header nav ul li a {
      color: #eee;
      text-decoration: none; }
    .panel-cms-container .panel-cms-header h1 {
      width: 100%;
      background-color: #122242;
      color: #FF6D37;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px; }
  .panel-cms-container .panel-cms-main {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-image: url("../img/arch-cms-bg.jpeg");
    background-size: 100% 100%;
    height: 100vh; }
    .panel-cms-container .panel-cms-main h2 {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      margin: 0;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .panel-cms-container .panel-cms-main p {
      background-color: #144453;
      color: #FF6D37;
      width: 90%;
      margin: 20px auto;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .panel-cms-container .panel-cms-main .cms-info {
      overflow-y: auto;
      height: calc(100vh - 70px); }
      .panel-cms-container .panel-cms-main .cms-info label {
        width: 200px; }
      .panel-cms-container .panel-cms-main .cms-info input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box; }
    .panel-cms-container .panel-cms-main .flex-div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center; }
      .panel-cms-container .panel-cms-main .flex-div .flex-div_item {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        margin: 10px; }
        .panel-cms-container .panel-cms-main .flex-div .flex-div_item ul {
          padding: 0; }
        .panel-cms-container .panel-cms-main .flex-div .flex-div_item ul li {
          padding: 0;
          margin: 0;
          list-style-type: none; }
      .panel-cms-container .panel-cms-main .flex-div .why-cms {
        background-color: #0055ee; }
      .panel-cms-container .panel-cms-main .flex-div .changeLog {
        background-color: #00ee55; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Bree Serif', serif; }
