html, body{
  height: 100%;
  padding: 0;
  margin: 0;
}

.container{
  display: flex;
}

.editor{
  transition: 0.5s;
}

.rawHTML{
  width: 40%;
}

.postAttr{
  width: 20%;
  transition: 0.5s;
}

header h1{
  cursor: pointer;
}
