{% include "common/header.twig" %}

<div id="vue-ckeditor"></div>
<div>{% for ids in id %}
{{ids}}
{% endfor %}</div> 
<div id="vue-ckeditor-side-bar"></div>
<script src="/js/build.js"></script>

{% include "common/footer.twig" %}